<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>CodekaSystem</title>
</head>
<body>
    <div id="content">
        <header>
            <hgroup>
                <h1>Codeka System 1.0</h1>
                <h3>Managment your employees</h3>
                <h2>Bienvenidos a CodekaSystem</h2>
                <p>La herramienta que te permie administrar tu planilla </p>
            </hgroup>
        </header>
        <nav>
            
        </nav>
        <section>
            <div>
                <h1 id="subtitle">PLANILLA DE EMPLEADOS</h1>

                <a href="/agregar">Agregar empleado</a>

                <table  cellspacing="10" cellpadding="10">
                    <tr>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Cargo</td>
                        <td>Sueldo</td>
                        <td>Opcion</td>
                    </tr>
                    {% for emp in lista_empleados %}
                    <tr>
                        <td>{{ emp.nombre }}</td>
                        <td>{{ emp.apellido }}</td>
                        <td>{{ emp.cargo }}</td>
                        <td>{{ emp.sueldo }}</td>
                        <td>
                            <a href="/eliminar/{{ loop.index0 }}">Eliminar</a> - 
                            <a href="/editar/{{ loop.index0 }}">Modificar</a>
                        </td>
                    </tr>
                    {% endfor %}
                    
                </table>
            </div>
        </section>
    </div>
</body>
</html>